$white: rgb(255, 255, 255);
$font-color: rgb(23, 26, 32);
$font-color-2: rgb(57, 60, 65);
$bg-color: rgba(155, 153, 153, 0.295);
$bg-color-1: rgba(23, 26, 32, 0.8);
$bg-color-2: rgba(244, 244, 244, 0.65);
$hover-color: rgba(0, 0, 0, 0.05);


