.model{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 170px;
}
.model__item-1{
    color: rgb(23, 26, 32);
    font-size: 38px;
    margin-bottom: 8px;
    font-weight: 700;
    letter-spacing: 3px;
}
.model__item-2{
    color: rgb(23, 26, 32);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}
.order{
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 110px;
}
.order__item-1, .order__item-2{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 215px;
    height: 32px;
    padding: 4px 24px;
    margin: 0 12px;
    border-radius: 20px;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 1px;
}
.order__item-1{   
    color: #fff;
    background-color: rgba(23, 26, 32, 0.8);  
}
.order__item-2{
    color: rgb(57, 60, 65);
    background-color: rgba(244, 244, 244, 0.65);
}
.arrow{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;  
    bottom: 25px;
  }
  .arrow__down:before {
     content: '\e800';
     font-size: 20px; 
     color: rgb(57, 60, 65);
     text-decoration: none;
  } 