*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Arial', 'Roboto', sans-serif;
    height: 5000px;
}
.back{
  width: 100%;
  position: relative;
  top: 53px;
  z-index: -1;
}
