*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Arial', 'Roboto', sans-serif;
    height: 5000px;
}

.background__item{
  width: 100%;
  height: auto;
  margin-bottom: -4px;
  position: relative;
  z-index: -1;
}

 