.header{
  display: flex;
  justify-content: space-between;
  height: 56px;
}
.header__logo-box{
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: center;
    width: 240px;
    padding-left: 40px;
}
.header__logo{
    width:  150px;
    height: 28px;
}
.header__model-box{
    margin-left: 15px;
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}
.header__menu-box{
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    margin-right: 40px;
}
.header__menu-item, .header__model-item{
    text-decoration: none;
    color: rgb(23, 26, 32);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 15px;
    transition: background-color 0.15s;
    margin-left: 10px;
}
.header__menu-item:hover, .header__model-item:hover{
    background-color: rgba(212, 212, 212, 0.123);
}
.model{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 200px;
}
.model__item-1{
    color: rgb(23, 26, 32);
    font-size: 50px;
    margin-bottom: 12px;
}
.model__item-2{
    color: rgb(23, 26, 32);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
}
.order{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 100px;
}
.order__item-1{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: rgba(23, 26, 32, 0.8);
    width: 284px;
    padding: 12px;
    margin: 16px;
    border-radius: 20px;
}
.order__item-2{
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(57, 60, 65);
    background-color: rgba(244, 244, 244, 0.65);
    width: 284px;
    padding: 12px;
    margin: 16px;
    border-radius: 20px;
}


